
<div class="row">
  <h1>SignUp</h1>
  <div class="col-md-12 col-md-offset-3">
    <%= form_for(@user) do |f| %><br>

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :email %>
    <%= f.email_field :email %><br>

    <%= f.submit "Create my account", class: "btn btn-primary mt-3" %>
    <% end %>
  </div>
</div>
