<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>id:
        <%= @user.id %>
      </h1>
      <h1>Name:
        <%= @user.name %>
      </h1>
      <h1>Email:
        <%= @user.email %>
      </h1>
      <div>
       <h2>Events:</h2>
         <% @user.created_events.each do |event| %>
           <div class="flex">
            <h5><%= event.id %></h5>
            <h5>Date: <%= event.event_date %></h5>
           </div>
        </div>

      <% end %>
      </div>
    </section>
  </aside>
</div>
